<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Page PDF</title>
   
    <script src="https://unpkg.com/html2pdf.js"></script>
</head>
<body>
    <!-- Page 1 -->
   
                <div class="page">
                    <div class="content-container">
                        <div class="header">
                            <img class="company-logo" src="\assets\papl_logo2 (3).png">
                            
                            
                            <img class="report-logo" src="\assets\nabcb.jpg">
                        
                        </div>
                             <div class="nabcb_nb">
                            <p class="nabcb">IB 062</p>
                        </div>
                       <div class="side_container">
                            <p class="side">VHT PLANNERS, ENGINEERS & INSPECTORS</p>
                            <p class="side">ELEVATORS, ESCALATORS & MOVING WALKS</p>
                        </div>
                            <h1 class="head_title">ELEVATOR INSPECTION REPORT</h1>
                      
                        
                            <div class="container_details">
                                <div class="details">
                                    <p><b>Project Name:++</b>{{projectName}}</p>
                                    <p><b>Building No:++</b> {{buildingNO}}</p>
                                    <p><b>Place:++</b> {{place}}</p>
                                    <p><b>Contract No:++</b>{{contractNo.replace('-', '/')}}</p>
                                    <p><b>Report No:++</b> {{documentidForUrl}}</p>
                                    <p><b>Date of Inspection:++ FROM </b> {{Rep_From}} <b>TO</b> {{Rep_to}}</p>
                                    <p><b>Inspector Name / Code:++</b> {{inspectorNameandCode}}</p>
                                </div>
                                <div class="additional">
                                    <img class="additional-image" src="\assets\image.jpg" alt="Additional Image">
                                    
                                    <div class="cycle"></div>
                                    <p class="footer-content">Cycle - 1, Inspection - 2 of 2</p>
                                </div>
                            
                            </div>
                            
                            <div class="footer">
                            <p class="footer-address">Flat No 1, 3rd Floor, No.3, "Viswapriya Apartments", 1st Cross Kasturibai Nagar, Adyar, Chennai - 600020. India.</p>
                        </div>
                    </div>
</div>


    <!-- Page 2 -->

    <div class="papl_code" style="font-family: calibri;">
        <p>++{{headervalue}}</p>
    </div>
    <div class="div_center">
        <p class="prepare" style="font-family: calibri;">Prepared By</p>
        <p class="name_company" style="font-family: calibri;">PVN ASSOCIATES PRIVATE LIMITED</p>
        <p>VHT PLANNERS, ENGINEERS & INSPECTORS</p>
        <p class="office" style="font-family: calibri;">Corporate Office</p>
        <p style="font-family: calibri;">Flat No 1, 3rd Floor, No.3, "Viswapriya Apartments", 1st Cross Kasturibai Nagar, Adyar, Chennai - 600020. India.</p>
        <p>Tel: 044 42613912</p>
        <p class="Official" style="font-family: calibri;">E: info@paplcorp.com W: www.paplcorp.com</p>
      </div>
      
      
        <div class="box-container">
            <div class="box">
                <p class="elevator" style="font-family: calibri;">Inspection carried out on <b>Elevators</b> installed in<b> {{projectName}}, {{place}},</b> as per IS 14665 (Part 5): 1999. NBC 2016 PART 8/ Sec. 5A,
                ANNEX- A (Clause15.5) & EN 81-1 from <b>{{Rep_From}}</b> To <b>{{Rep_to}}</b></p>
                <p class="content" style="text-align: left; font-family: Calibri;">For & on behalf of</p>
    
          
                <p class="name_pvn" style="font-family: calibri;">PVN Associates Private Limited</p>
               
                  
              <div style="font-family: Calibri;">
                <p class="inspected" style="text-align: left; margin-bottom: 0px;"><b>Inspected by:</b><span style="text-decoration: underline;">_____________</span></p>
    
                    <p style="text-align: left; margin-bottom: 0px; font-family:Calibri;" class="signature"><b>{{inspectedBy}}</b></p>
                    <p style="text-align: left;" class="inspector_signature font-family:Calibri;"><b>(Inspector)</b></p>
              </div>
                
              <p class="gm_sign"style="text-align: right; font-family: Calibri; margin-top: -70px;">
                <b>Approved by:</b><span style="text-decoration: underline;">_____________</span>
            </p>
            
                <p class="sign_name"  style="margin-top: -13px; font-family:Calibri;"><b>{{approvedBy}}</b></p>
                <p class="head_sign"  style="margin-top: -13px; font-family:Calibri;"><b>(General Manager-QuEST)</b></p>
                <div class="seal">
            <img src="\assets\SEAL PAPL.png" style="float: right; margin-top: -50px;">
                  <p style="clear: both; text-align: right; font-family:Calibri; margin-right: 10px; text-decoration: underline;" class="seal">Official Seal</p>
                </div>
                  
                  <div class="place" style="float: left;">
                    <p style="font-family: Calibri; margin-top: -70px;" class="place_chennai"><b>Place: {{approvedPlace}}.</b></p>
                    <p style="font-family: Calibri;" class="date_ins"><b>Date: {{approvedDate}}</b></p>
                  </div>
                </div>
                
              </div>
             
              <div class="pvn_res">
                <p style="font-family: Calibri;" class="papl"><b>PVN Associates Private Limited disclaims any responsibility to the clients and others in respect of any matter beyond the scope of contract.</b></p>
              </div>
              <div class="pvn_code" style="font-family: calibri;">
                <p>PAPL/INF/22 A VER.1.1, 10-06-2020</p>
              </div>
              


      
    <!-- Page 3 -->
    
    <div class="page">
        <body>
            <p class="kone">++{{headervalue}}</p>
            <div >
            
                <h1 class="Disclaimer" >Disclaimer</h1>
                <div class="inspection-container">
                    <p class="inspection">THIS IS A VISUAL INSPECTION ONLY limited to those areas and sections of the elevator, hoistway, pit, machine room and lobbies fully
                        accessible and visible to the Inspector on the date of Inspection. The Use of Photo's: The report may include photographs. Some picture
                        are intended as a courtesy and are added for information. Some are to help clarify where the inspector has been, what was looked at
                        and the condition of the component at the time of the inspection. Some pictures may be of deficiencies or problem areas, these are to
                        help you better understand what is documented in the report and may allow you to see areas or items you normally would not see. Not
                        all problem areas or conditions will be supported with photos. DISCLAIMER OF LIABILITY: No Liability shall be accepted on an account of
                        failure of the Report to notify any problems in the area(s) or section(s) related to vertical transportation of the subject property
                        physically inaccessible for inspection, or to which access for Inspection is denied by or to the Inspector (including but not limited to or
                        any area(s) or section(s) so specified by the Report). DISCLAIMER OF LIABILITY TO THE THIRD PARTIES: This Report is made solely for the
                        use and benefit of the Client named on the front of this report. No liability or responsibility whatsoever, in contract or tort, is accepted to
                        any third party who may rely on the report wholly or in part. Any third party acting or relying on this report, in whole or in part does so
                        at his or her own risk. This report will assist client and their maintenance team in identifying ways to improve rider safety and will not be
                        used to assign blame or liability</p>
                  </div>
                        <p class="document">PAPL/INF/22 A VER.1.1, 10-06-2020</p>
                    </div>
                
       
        </body>
    </div>

    <!-- Page 4 -->
    
    <div class="page">
        <p class="kone">++{{headervalue}}</p>
       
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>EXECUTIVE SUMMARY </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BRIEF SPECIFICATION</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>EXTRACT OF QUALITY EVALUATION</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>EMERGENCY OPERATIONS</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>QUALITY EVALUATION & PERFORMANCE RATING</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>PIT DETAILED REPORT</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>CABIN DETAILED REPORT</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>CAR TOP DETAILED REPORTt</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>MACHINE ROOM DETAILED REPORT</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>FLOOR LANDING DETAILED REPORT</td>
                    </tr>
                   
                </tbody>
            </table>
            <div >
                <p class="document">PAPL/INF/22 A VER.1.1, 10-06-2020</p>
            </div>
        </div>
 
      

     <!-- Page 5 -->
     <div class="page">
        <p class="kone">++{{headervalue}}</p>
        <p class="summary">EXECUTIVE SUMMARY</p>
        
        <p class="basics">BASIC INFORMATION</p>
        
        <p>The inspection was carried out on <span class="dark-text"> ++{{nos_Product}} Nos </span> of ++{{OEM}} by <span class="dark-text">   ++{{inspectorNameandCode}} - ENGINEER - INSPECTION SERVICE </span> of PVN Associates Private Limited
         from  <span class="dark-text">++{{approvedDate}}</span> in the presence of</p>
         <table>
            <thead>
              <tr>
                <th>Si.No</th>
                <th>Names</th>
                <th>Company Name</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody>
              <!-- Loop through each person in the witnessDetails array -->
              <tr *ngFor="let person of witnessDetailsArray; let i = index">
                <!-- Increment the index (i) and display it as the Si.No -->
                <td>{{ i + 1 }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.company }}</td>
                <td>{{ person.designation }}</td>
              </tr>
            </tbody>
          </table>
          
          
          
         <p class="record">We place on record that the representative of <span class="dark-text">++{{OEM}}</span> was present on all days and gave full co operation and testing instruments and materials to perform
             the inspection.</p>

         <div class="document">
             <p>PAPL/INF/22 A VER.1.1, 10-06-2020</p>
         </div>
     </div>
 
        <div >
           
   

     <!-- Page 6 -->
     <div class="page">
        <div class="page">
            <p class="kone">++{{headervalue}}</p>
            <p class="basic">BASIC SPECIFICATION</p>
            <table>
                <thead class="thr">
                    <tr>
                        <th>UNIT NOMENCLATURE</th>
                        <th *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].unit_no}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ficl">OEM Supplier</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                     
                    </tr>
                    <tr>
                        <td class="ficl">Lift Number</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].elevator_number}}</td>
                      
                    </tr>
                    <tr>
                        <td class="ficl">year of manufacturing</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].year_of_manufacture}}</td>
                        
                    </tr>
                    <tr>
                        <td class="ficl">Capacity</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].capacity}}</td>
                       
                    </tr>
                    <tr>
                        <td class="ficl">Contract Speed</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].speed}}</td>
                     
                    </tr>
                    <tr>
                        <td class="ficl">Number of Units</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                      
                    </tr>
                    <tr>
                        <td class="ficl">No. of Lifts per Machine room </td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].no_of_risers_at_main_lobby}}</td>
                        
                    </tr>
                    <tr>
                        <td class="ficl">Controller</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].cabin_height}}</td>
                        
                    </tr>
                    <tr>
                        <td class="ficl">Stops</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                        
                    </tr>
                    <tr>
                        <td class="ficl">Openings & Floors Stops:</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                       
                    </tr>   
                    <tr>
                        <td class="ficl">Simplex</td>
                        <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                        
            </tr>
            <tr>
                <td class="ficl"> Duplex</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
               
            </tr>
            <tr>
                <td class="ficl">No. of main Ropes</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl">Grooves</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl">Size</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                

                
            </tr>
            <tr>
                <td class="ficl">Roping</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>   
            <tr>
                <td class="ficl">Governor Details Speed</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl">Machine</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl"> Location</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl"> Type of Motor</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr> 
            <tr>
                <td class="ficl">Motor Data</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl">Cabin Details</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl">Car Entrance Size</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
                
            </tr>
            <tr>
                <td class="ficl">Type of opening</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
               
            </tr>    
            <tr>
                <td class="ficl">Door Operator</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
               
            </tr>
            <tr>
                <td class="ficl">Car features.</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
               
            </tr>
            <tr>
                <td class="ficl">Hall features</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
               
            </tr>
            <tr>
                <td class="ficl">Emergency Features</td>
                <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].oem}}</td>
               
            </tr> 
        </tbody>
    </table>

    <br><br>

    
    <div class="document">
        <p>PAPL/INF/22 A VER.1.1, 10-06-2020</p>
    </div>
</div>
        
   
      </div>
    

   <!-- Page 8 -->
   <div class="page">
    <p class="kone">++{{headervalue}}</p>
    <a class="emergency">EMERGENCY OPERATIONS</a>
    <table>
      <thead>
        <tr>
          <th >Units</th>
          <th >Emergency Alarm</th>
          <th >Emergency Light</th>
          <th>Intercom</th>
          <th>ARD</th>
          <th>Fireman</th>
          <th>Manual Rescue</th>
        </tr>
      </thead>  
      <tbody>    
        
        <tr *ngFor="let dummy of emergency_Table_Data; let i = index">
            <td >{{dummy.unit_no}} </td>         
            <td [ngClass]="{'green': dummy.Emergency_al === 'Working', 'red': dummy.Emergency_al !== 'Working'}">{{dummy.Emergency_al}}</td>
            <td [ngClass]="{'green': dummy.Emergency_Li === 'Working', 'red': dummy.Emergency_Li !== 'Working'}">{{dummy.Emergency_Li}}</td>
            <td [ngClass]="{'green': dummy.Intercom === 'Working', 'red': dummy.Intercom !== 'Working'}">{{dummy.Intercom}}</td>
            <td [ngClass]="{'green': dummy.ARd === 'Working', 'red': dummy.ARd !== 'Working'}">{{dummy.ARd}}</td>
            <td [ngClass]="{'green': dummy.Fireman === 'Working', 'red': dummy.Fireman !== 'Working'}">{{dummy.Fireman}}</td>
            <td [ngClass]="{'green': dummy.Manual_Res === 'Working', 'red': dummy.Manual_Res !== 'Working'}">{{dummy.Manual_Res}}</td>
            

            
          
         
        </tr>
       
      </tbody>
    </table>
  
     
</div>

     
    

     <!-- Page 7 -->
     <div class="page">
        <p class="kone">++{{headervalue}}</p>
    </div>
    <div class="table_content_header_div">
     <h2 class="table_content_header">EXTRACT OF QUALITY EVALUATION</h2>

    </div>
     

    <table>
        <thead class="page_head">
          <tr>
            <th>Elevator No</th>
            <th>Maintenance %</th>
            <th>Adjustment %</th>
            <th>Rating %</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">
            <tr>
              <th>{{BriefmultiDimArray[i].unit_no}}</th>
              <td>sdf</td>
              <td>rte</td>
              <td>fgh</td>


              <td *ngIf="i === 0" class="row" [attr.rowspan]="performanceData.length">
                {{ remark }}
              </td>
            </tr>
          </ng-container>
          <tr>
            <td class="range" colspan="5">
              <p class="content-segment1">≤ 75% - Unsatisfactory</p>
              <p class="content-segment2">76% to 85% - Average</p>
              <p class="content-segment3">86% to 95% - Good</p>
              <p class="content-segment4">96% to 100% - Excellent</p>
            </td>
          </tr>
        </tbody>
      </table>
      
 </div>
              


        
        
   

    



    







        
        


     <!-- Page 9 -->
     <div class="page">
        <div class="yes_no">
            <span class="box">
                 <span class="yes">Y=YES</span>,
                 <span class="no">N=NO</span>
                 </span>                   
        </div>
        
        <div class="page">
        
        
            <div class="pit_head">
                <h1><b>PIT</b></h1>
            </div>
          
                 <body>
              <table>
             <thead>
                       <tr>
                          <th rowspan="2">S.NO</th>
                          <th rowspan="2">DESCRIPTION</th>
                          <th [colSpan]="BriefmultiDimArray_cunt" >UNIT</th>
                          <th rowspan="6" colspan="2">OBSERVATION</th>
                      </tr>
          
                      <tr>
                        <th *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let i = index">{{BriefmultiDimArray[i].unit_no}}</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let checklistmaster of inspectionMasterData; let i_master=index">
                        <tr  *ngIf="checklistmaster.Parts?.toLowerCase() === 'pit'">
                            
                          <td rowspan="3" >{{ i_master + 1 }}</td>
                          <td rowspan="3"><b *ngIf="checklistmaster.Parts?.toLowerCase() === 'pit'">{{ checklistmaster.Description }}</b>
                          </td>
                          
                          <td *ngFor="let dummy of [].constructor(BriefmultiDimArray_cunt); let brief_i = index">
                            <ng-container [ngSwitch]="checkConstraints(i_master,brief_i, checklistmaster.Description)">
                                <span *ngSwitchCase="'NO'" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">N</span>
                                <span *ngSwitchCase="'YES'" [ngStyle]="{'color': 'green', 'font-weight': 'bold'}">Y</span>
                                <span *ngSwitchCase="'YES!'" [ngStyle]="{'color': 'cyan', 'font-weight': 'bold'}">---</span>
                            </ng-container>
                         </td>
                        
                        
                          
                          
                          <td class="observation" rowspan="3" >
                           
                            <ng-container *ngIf="checklistmaster.for_defect_flag">
                               {{checklistmaster.Defect_multiple}}
                                
                            </ng-container>
                            <ng-container *ngIf="!checklistmaster.for_defect_flag">
                            <p [ngStyle]="{'color':'green','font-weight': 'bold', 'text-align':'center'}">Satisfactory</p> 
                            </ng-container>
                            
                          </td>
                          
                        </tr>
                        <tr >
                          <td  *ngIf="checklistmaster.for_defect_flag" colspan="4">{{checklistmaster.Defect_photo}}</td>
                         
                        </tr>
                        <tr>
                          <td colspan="4" *ngIf="checklistmaster.for_defect_flag">
                            <label for="photo1"></label>
                            
                            <div id="preview1"  class="preview"></div>
                          </td>
                       
                        </tr>
                        
                      </ng-container>
                      
          
          
        
                   
                    
                      
                </tbody>
             </table>
          </body>
         
        </div>
        
        



       
        
        <!-- ---------------------------------------------------------------- END ------------------------------------------------------------------------ -->
    </div>

     <!-- Page 10 -->
     <div class="page">
        <body>
            <table>
               
                <div  class="calibri-font">
            
                <div class="header_one">{{ ratingData.header }}</div>
                <div  class="top-right">
                    <p  class="kone">{{ ratingData.address }}</p>
                </div>
            
            
            
            <!-- Table with one default column -->
            <table id="myTable">
              <thead>
                <tr>
                  <th colspan="3">Elevator Nos</th>
                  <th></th>
                  <th colspan="2">TITLE</th>
                  <th colspan="2">P1</th>
                  <th colspan="2"></th>
                  <th colspan="2"></th>
                  <th colspan="2"></th>
                  <th colspan="3" rowspan="2">Remarks</th>
                </tr>
            
                <tr>
                  <th colspan="3">Inspection Functions</th>
                  <th>Total MAX</th>
                  <th>No.of Points in details</th>
                  <th class="six1">No.of Points in Q.E</th>
                  <th>MNT</th>
                  <th>ADJ</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
            
                  
                    
                    <tr>
                    <td  class="skyblue" colspan="3">EMERGENCY ALARM</td>
                    <td rowspan="6">14</td>
                    <td rowspan="6">6</td>
                    <td class="six2" rowspan="6">6</td>
                    <td  rowspan="6"></td>
                    <td  rowspan="6"></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td></td>
                    <td ></td>
                    <td ></td>
                    <td colspan="3"></td>
                </tr>
            
                    <tr>
                        <td  class="skyblue" colspan="3">EMERGENCY LIGHT</td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td  class="skyblue"colspan="3">3 WAY INTERCOM FUNCTION </td>
                       
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td  class="skyblue"colspan="3">ARD OPERATION</td>
                        
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                        
                    </tr> 
            
                    <tr>
                        <td  class="skyblue"colspan="3">MANUAL RESCUE</td>
                        
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="skyblue" colspan="3">FIREMAN OPERATION</td>
                      
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="olivegreen" colspan="3">PIT & EQUIPMENTS</td>
                       
                        <td rowspan="5">16</td>
                        <td  rowspan="5">16</td>
                        <td  class="six3" rowspan="5">5</td>
                        <td  rowspan="5"></td>
                        <td  rowspan="5"></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr>
            
                    <tr>
                        <td class="olivegreen"  colspan="3">TRAILING CABLE CONDITION</td>
                       
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr>
            
                    <tr>
                        <td class="olivegreen"  colspan="3">UNDER SIDE OF THE CAR</td>
                       
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="olivegreen"  colspan="3">BUFFER & CLEARANCES</td>
                        
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td  class="olivegreen" colspan="3">SAFETY ACCESSORIES</td>
                       
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td  class="olivegreen" colspan="3">CABIN & FIXTURE</td>
                       
                        <td rowspan="6">18</td>
                        <td rowspan="6">10</td>
                        <td class="six4"  rowspan="6">5</td>
                        <td rowspan="6"></td>
                        <td rowspan="6"></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="olivegreen" colspan="3">CAR DOOR & GAP WITH PANELS</td>
                        
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="olivegreen"  colspan="3">DOOR OPERATION & PROTECTION</td>
                        
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="olivegreen" colspan="3">RIDING QUALITY</td>
                       
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="olivegreen" colspan="3">START /ACC& DEC/ JERKS</td>
                    
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
            
                    </tr> 
            
                    <tr>
                        <td class="lite_yellow" colspan="3">LEVELING</td>
                       
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="lite_yellow"colspan="3">CAR TOP ACCESSARIES & EARTHING</td>
                       
                        <td rowspan="5">14</td>
                        <td rowspan="5">28</td>
                        <td class="six5" rowspan="5">5</td>
                        <td rowspan="5"></td>
                        <td rowspan="5"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="lite_yellow" colspan="3">CAR TOP BALUSTRADE & EMERGEN. EXIT</td>
                       
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="lite_yellow" colspan="3">CAR & CWT GUIDES</td>
                   
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="lite_yellow" colspan="3">MIDWAY T.C & CWT CONDITION</td>
                     
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="lite_yellow"colspan="3">HOIST WAY EQUIPMENTS & FASCIA</td>
                     
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange" colspan="3">M/c ROOM /MRL - CONDTION</td>
                       
                        <td rowspan="8">26</td>
                        <td rowspan="8">24</td>
                        <td class="six6" rowspan="8">8</td>
                        <td rowspan="8"></td>
                        <td rowspan="8"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                   
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange"colspan="3">EARTHING</td>
                       
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange" colspan="3">MACHINE & SHEAVE CONDITION</td>
                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange"colspan="3">ROTATING EQUIPMENTS GUARDING</td>
                       
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange" colspan="3">HOIST ROPES/GOV. ROPE/BELTS</td>
                       
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange" colspan="3">CONTROLLER & CONDITION</td>
                      
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange" colspan="3">GOVERNOR & ACCESSORIES</td>
                    
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="orange"colspan="3">OVERBALANCING & CURRENT READINGS</td>
                    
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="violet" colspan="3">UNLOCKING DEVICE/ACCESSIBLE HEIGHT</td>
                        
                        <td rowspan="3">7</td>
                        <td rowspan="3">9</td>
                        <td class="six7" rowspan="3">3</td>
                        <td rowspan="3"></td>
                        <td rowspan="3"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="violet"colspan="3">LANDING DOORS & HALL FIXTURES</td>
                    
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td class="violet"colspan="3">SIMPLEX/DUPLEX/ GROUPING</td>
                      
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td colspan="3"></td>
                    </tr> 
            
                    <tr>
                        <td colspan="3"   class="six9">CUSTOM. SCOPE OF WORK</td>
                       
                        <td class="six11" rowspan="1">5</td>
                        <td class="six12" rowspan="1">5</td>
                        <td class="six13"  rowspan="1">1</td>
                        <td rowspan="1"></td>
                        <td rowspan="1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr> 
            
            
                    <tr>
                        <td colspan="3" class="total_one" rowspan="2">Total</td>
                       
                        <td rowspan="1"></td>
                        <td rowspan="1"></td>
                        <td rowspan="1"></td>
                        <td rowspan="1"></td>
                        <td rowspan="1"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3"></td>
                    </tr>
                   
                    <tr>
                        <td colspan="2" rowspan="1"></td>
                        <td rowspan="1"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="3"></td>
                    </tr>   
                    <tr>
                        <td class="range" colspan="15"> 
                            <p class="content-segment1">75% - Unsatisfactory</p><b class="border">-</b>
                            <p class="content-segment2">76% to 85% - Average</p><b class="border">-</b>
                            <p class="content-segment3">86% to 95% - Good</p><b class="border">-</b>
                            <p class= "content-segment4">96%to 100% - Excellent</p><b class="border">-</b>
                            <p class="content-segment5" >MNT - Maintenance</p><b class="border">-</b>
                            <p class="content-segment6" >ADJ - Adjustment</p>
                        </td>
                    </tr> 
               
                </thead>
                  </table>
    </div>    
               
                 
                
            
               
    

     <!-- Page 11 -->
     <div class="page">
        <h1>Page 11</h1>
        <p>This is the content of page 3.</p>
    </div>


    

    <!-- Add a button to trigger PDF generation -->
    <button id="generate-pdf">Generate PDF</button>