body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.admin {
  font-size: large;
  color: #bead10;
}

.search-bar {
  margin-left: auto; /* Push the search bar to the right */
}

.search-bar1 {
  text-align: center; /* Center the content in search-bar1 */
}

h1 {
  margin: 10px; /* Remove default margin for h1 to avoid extra spacing */
  font-size: small;
  color: #1b73f9;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
}

.overview {
  background-color: #e0f7fa;
}

.status {
  background-color: #c8e6c9;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.stat-box {
  text-align: center;
  padding: 20px;
}

.stat-box h3 {
  margin: 0;
  font-size: 1.5em;
  color: #555;
}

.stat-box p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #333;
}

.lift-status,
.elevator-status,
.car-parking-status,
.escalator-status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.lift-tile {
  flex: 0 0 calc(33.33% - 20px);
  margin: 20px 10px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.lift-tile.active {
  background-color: #4caf50;
  color: #fff;
}

.lift-tile.inactive {
  background-color: #f44336;
  color: #fff;
}

.lift-tile.maintenance {
  background-color: #ff9800;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    margin-left: 0; /* Reset margin for small screens */
    margin-top: 10px; /* Add top margin for spacing */
  }

  .search-bar1 {
    text-align: center; /* Reset text-align for small screens */
  }
}