.header {
  height: 40px;
  background-color: #FFFFFF; /* Header background color */
  color: #8F949B; /* Text color */
  padding: 10px; /* Padding for header */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Align items to left and right */
  align-items: center; /* Align items vertically */
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  flex: 0 0 calc(25% - 16px); /* 4 cards, minus margins */
  margin-bottom: 20px; /* Space between containers */
}

.row {
  display: flex;
  flex-direction: row;
}

.card {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #666;
}


.card-body {
  padding: 20px;
   /* Gradient color for card-body */
}

.card-body-1 {
  background: linear-gradient(45deg, #ff6726, #FFB696);
   /* Gradient color for card 1 */
}

.card-body-2 {
  background: linear-gradient(45deg, #07C37D, #0BF4A7);
  /* Gradient color for card 2 */
}

.card-body-3 {
  background: linear-gradient(45deg, #FF5D6C, #FF8D9C);
   /* Gradient color for card 3 */
}

.card-body-4 {
  background: linear-gradient(45deg, #00A6AE, #63E1E3); /* Gradient color for card 4 */
}
