<div class="container">
  <div class="header">
      <h2>OutBox Saved Data</h2>
  </div>
  <div class="sync-container">
    <button class="sync-button" [disabled]="allValues && allValues.length <= 0" (click)="syncData()">
        <i class="fas fa-sync"></i> Sync
    </button>
    <div class="sync-loader-overlay" *ngIf="syncing"></div>
    <div class="sync-loader" *ngIf="syncing">
        <div class="loader"></div>
    </div>
</div>

  
  <div class="table-container">
    <!-- Check if allValues array is empty -->
    <ng-container *ngIf="allValues && allValues.length > 0; else noData">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>UnitNo.</th>
                    <th>Inspection Parts</th>
                    <th>Description</th>
                    <th>Inspector Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let value of allValues">
                    <td>{{ value.updatedAt | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ value.unitNo }}</td>
                    <td style="text-transform: uppercase">{{ value.section}}</td>
                    <td>{{ value.title }}</td>
                    <td>{{ value.inspectorName }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <!-- Display message if allValues array is empty -->
    <div class="no-data-container">
      <ng-template #noData>
          <p class="no-data-message">No Data Available in OutBox</p>
      </ng-template>
  </div>
</div>

  
</div>