.logo1 {
    top: 0;
    left: 0;
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}

.fixed{
    white-space: nowrap; 
}

body{
    font-size: 15px;
    font-family: calibri;

}
.container {
    position: fixed;
    bottom: -15px; /* Adjust the distance from the bottom */
    right: -5px; /* Adjust the distance from the right */
    text-align: right; /* Align text to the right */
    z-index: 999; /* Ensure it's above other elements */
}

.doc_no {
    font-size: 13px; /* Adjust font size as needed */
    /* Optional styles for better visibility */
   font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #4f4a4a;
    padding: 8px;
    text-align: left;
}

/* Define the style for the vertical line */
.vertical-line {
    border-right: 1px solid black;
    padding-right: 5px; /* Adjust spacing as needed */
}

.key_head{
    text-align: center;
    background-color: rgb(178, 175, 175);
}
.first{
    font-weight: bolder;
}
.second{
    font-weight: lighter;
}
.field_namebold{
    font-weight: bolder;
}
.pit_center1{
    text-align: center;
    background-color:rgb(178, 175, 175);
}

.pit_center2{
    text-align: center;
    background-color: rgb(178, 175, 175);
}
.pit1{
    text-align: left;
}

.pit2{
text-decoration: underline;
}
.hr{
    color: black;
}
/* Define the style for horizontal lines */
.legend-line {
    border-top: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}
////////////////////printing background color/////////////////////////
@media print {
    .key_head{
        text-align: center;
        background-color: rgb(178, 175, 175);
    }
    .pit_center1{
        text-align: center;
        background-color: rgb(178, 175, 175);
    }
    
    .pit_center2{
        text-align: centerrgb(178, 175, 175);
    }
  }
  @media print {
    .key_head,.pit_center1,.pit_center2 {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
  }
  

